#adminmenu .toplevel_page_appconsent_cmp .wp-menu-image img {
    padding: 6px 0 0!important;
   
}
#adminmenu .current.toplevel_page_appconsent_cmp .wp-menu-image img{
 	opacity: 1!important;
}

.sfbx-success {
    margin: 0;
    padding: 5px 9px;
    font-size: 14px;
    color: #155724;
    border: 1px solid #d1e7dd;
    background: #d4edda;
    font-weight: 500;
}
.sfbx-error {
    margin: 0;
    padding: 5px 9px;
    font-size: 14px;
    color: #842029;
    border: 1px solid #f5c2c7;
    background: #f8d7da;
    font-weight: 500;
}

#sfbx-form .dashicons-dismiss {
    color: #842029;
    font-size: 22px;
    margin-top: 5px;
}
#sfbx-form .dashicons-yes-alt {
    color: #155724;
    font-size: 22px;
    margin-top: 5px;
}

#sfbx-form .invalid-text {
    margin-left: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #842029;
}

#sfbx-form .valid-text {
    margin-left: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #155724;
}
.sfbx-content {
    background: #fff;
    padding: 10px 10px 18px 10px;
    height: 100%;
}

.sfbx-content p {
    font-size: 15px;
}

.sfbx-wrap .nav-tab-active {
    background: #fff;
    border-bottom: 1px solid #fff;
}
.sfbx-wrap .nav-tab-wrapper a.nav-tab:nth-child(1) {
    margin-left: 0px;
}

.sfbx-wrap .tab-content {
   border: 1px solid #c3c4c7;
    border-top: none;
}